In [1]:
import pandas as pd

In [2]:
import mysql.connector as connection
mydb = connection.connect(host = "localhost",database = 'Cricket_talk',user = "root",passwd = "Vishal@9850",use_pure = True )
cursor = mydb.cursor()
cursor.execute("show databases")
print(cursor.fetchall())

[('crick_fever',), ('cricket_talk',), ('information_schema',), ('mysql',), ('performance_schema',), ('project_cricket',), ('sakila',), ('sys',)]

Q.2 Create a table named ‘deliveries’ with appropriate data types for columns

In [4]:
mydb.commit()
query = """ CREATE TABLE deliveries(id INT ,inning INT,`over` INT,ball INT,
basman VARCHAR(50),non_striker VARCHAR(50),bowler VARCHAR(50),
batsman_runs INT,extra_runs INT,total_runs INT,is_wicket INT,
dismissal_kind VARCHAR(30),player_dismissed VARCHAR(50),
fielder VARCHAR(50),extras_type VARCHAR(30),
batting_team VARCHAR(50),bowling_team VARCHAR(50)) """
cursor = mydb.cursor()
cursor.execute(query)
print("Table named as deliveries created ")

Table named as deliveries created

In [5]:
mydb.is_connected()

True

In [6]:
mydb.commit()

In [7]:
cursor = mydb.cursor()
cursor.execute("set session sql_mode = ''")
print("Mode set ")

Mode set

In [8]:
cursor.execute("SET GLOBAL local_infile = true;")
print("Set Global")

Set Global

In [9]:
cursor.execute("SHOW GLOBAL VARIABLES LIKE 'local_infile';")
print("Final step")

Final step

In [10]:
mydb.close()

In [11]:
mydb = connection.connect(host = "localhost",database = 'Cricket_talk',user = "root",passwd = "Vishal@9850",use_pure = True )
cursor = mydb.cursor()

In [14]:
mydb.commit()
query = """ LOAD DATA INFILE "D:/SQL/IPL_Ball.csv"
into table deliveries
fields terminated by ","
enclosed by '"'
lines terminated by '\n'
ignore 1 rows;
"""
cursor = mydb.cursor()
cursor.execute(query)
print(cursor.fetchall())
print(cursor.rowcount,"records are inserted")

[]
193468 records are inserted

Q. 5 Select the top 20 rows of the deliveries table.

In [10]:
cursor = mydb.cursor()
a = pd.read_sql('select * from deliveries limit 20',mydb)
a

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,0,1,SC Ganguly,BB McCullum,P Kumar,0,1,1,0,NA,NA,NA,legbyes,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,0,2,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,0,3,BB McCullum,SC Ganguly,P Kumar,0,1,1,0,NA,NA,NA,wides,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,0,4,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,0,5,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
5,335982,1,0,6,BB McCullum,SC Ganguly,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
6,335982,1,0,7,BB McCullum,SC Ganguly,P Kumar,0,1,1,0,NA,NA,NA,legbyes,Kolkata Knight Riders,Royal Challengers Bangalore
7,335982,1,1,1,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
8,335982,1,1,2,BB McCullum,SC Ganguly,Z Khan,4,0,4,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
9,335982,1,1,3,BB McCullum,SC Ganguly,Z Khan,4,0,4,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
10,335982,1,1,4,BB McCullum,SC Ganguly,Z Khan,6,0,6,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
11,335982,1,1,5,BB McCullum,SC Ganguly,Z Khan,4,0,4,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
12,335982,1,1,6,BB McCullum,SC Ganguly,Z Khan,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
13,335982,1,2,1,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
14,335982,1,2,2,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
15,335982,1,2,3,SC Ganguly,BB McCullum,P Kumar,0,1,1,0,NA,NA,NA,legbyes,Kolkata Knight Riders,Royal Challengers Bangalore
16,335982,1,2,4,BB McCullum,SC Ganguly,P Kumar,4,0,4,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
17,335982,1,2,5,BB McCullum,SC Ganguly,P Kumar,1,0,1,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
18,335982,1,2,6,SC Ganguly,BB McCullum,P Kumar,0,0,0,0,NA,NA,NA,NA,Kolkata Knight Riders,Royal Challengers Bangalore
19,335982,1,3,1,BB McCullum,SC Ganguly,AA Noffke,0,5,5,0,NA,NA,NA,wides,Kolkata Knight Riders,Royal Challengers Bangalore